.progressbar {
  background-color: grey;
  border-radius: 13px;
  padding: 3px;
}

.progressbar>div {
  background-color: green;
  width: 0;
  height: 20px;
  border-radius: 10px;
}

.control-buttons {
  text-align: right;
  margin: 10px 0;
  & > .btn {
    margin-left: 10px;
  }
}
